.partyspace-body {
  display: flex;
  align-items: center;
  background-color: #2c2c2c;
  color: white;
  height: 100dvh;
  width: 100dvw;
}

.partyspace-body-container {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 12px;
  width: 99%;
  height: 100%;
  overflow: hidden;
}

.party-container {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.left-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-radius: 12px;
  margin: 10px; */
  width: calc(20% - 20px);
  background-color: #202020;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.member-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
  border-radius: 12px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.text-logo {
  font-family: var(--font-press-start-2p);
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #444;
  margin: 10px;
}

.logo-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.chatbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  background-color: #222;
  /* border-radius: 12px;
  margin: 10px;
  padding: 12px; */
}

.chatbox-messages {
  flex-grow: 1;
  overflow-y: auto;
  width: auto;
  padding: 10px;

  box-sizing: border-box;
}

.chatbox-messages p {
  width: 90%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 10px 10px;
}

.chatbox-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  width: 100%;
  box-sizing: border-box;
}

.chatbox-input input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: white;
}

.chatbox-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #555;
  color: white;
  cursor: pointer;
}

.chatbox-input button:hover {
  background-color: #666;
}

.profile-and-spaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border-radius: 12px;
  margin: 10px; */
  width: calc(20% - 20px);
  background-color: #202020;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-radius: 12px;
  margin: 10px; */
  background-color: transparent;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  order: -1;
}

.profile-picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #444;
  margin: 10px;
}

.profile-picture-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.partyspaces-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.partyspace-item {
  text-align: center;
}

.partyspace-item button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.chatbox-nav-container {
  display: flex;
  justify-content: center; /* Center the nav container */
}

.chatbox-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #242424;
  box-sizing: border-box;
}

.chatbox-nav .nav-item {
  flex: 1;
  text-align: center;
}

.chatbox-nav .nav-item:first-child {
  text-align: left;
}

.chatbox-nav .nav-item:last-child {
  text-align: right;
}

.chatbox-nav li {
  list-style-type: none;
  color: white;
}

.chatbox-nav a {
  color: white;
  text-decoration: none;
}

/* PartySpace Settings */

.partyspace-settings-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
}

.partyspace-settings-2 {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  gap: 0px;
}

.partyspace-settings {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  gap: 0px;
}

#filter-keywords {
  resize: none;
  box-sizing: border-box;
}

#partyspace-description {
  height: 150px;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  color: white;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: white;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  background-color: #555;
}

.permissions-container {
  margin: 20px;
  font-size: var(--font-size-small);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.permissions-container label {
  display: flex;
  align-items: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #555;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #666;
}

button:active {
  background-color: #777;
}

button:disabled {
  background-color: #333;
  cursor: not-allowed;
}

.browse-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #555;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.browse-button:hover {
  background-color: #666;
}

.browse-button:active {
  background-color: #777;
}

.browse-button:disabled {
  background-color: #333;
  cursor: not-allowed;
}

.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
}
